/* General */
body {
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 40px 0;
}
/* Elements */
.do_list_no_margin {
  margin: 0;
}
.do_primary {
  color: white;
}
.do_secondary {
  color: #031c4e;
  background: #f3f5f9;
}
.do_third {
  color: #031c4e;
  background: white;
}
.do_wrap_65 {
  width: 60%;
  margin: 0 auto;
}
/* intro */
.intro {
  padding-bottom: 44px;
}
.intro h2 {
  font-size: 34px;

}
.intro p {
  font-size: 20px;
  color: #6f7b97;
}
/* fine intro */
/* article */
.article {
  margin-bottom: 30px;
  color: #031c4d;
}
.article p {
  color: #6f7b97;
}
/* fine article */

/* Components */
/* HEADER */
header .primary_nav {
  background-color: white;
  line-height: 70px;

}
.do_logo img{
  line-height: 70px;
  max-width: 165px;
}

header .do_menu li {
  /* line-height: 80px; */
}
header .do_menu a {
  color: #031c4d;
  text-decoration: none;
}
.signup_menu {
  border: 1px solid #2484fd;
  padding: 8px 12px;
  border-radius: 3px;
}
/* Burger toggle */
header .do_burger_menu {
  line-height: 70px;
}
header .do_burger_menu i {
  font-size: 20px;
  margin: 0 10px;
  color: #031c4d;
  line-height: 80px;
}


/* FINE HEADER */

/* MAIN */

/* Jumbotron */
.do_jumbotron {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Teaser */
.teaser span {
  color: lightgray;
  font-size: 24px;
}
/* Fine Teaser */

/* Form */
/* intestation */

.intestation h3 {
  font-size: 30px;
  color: #031c4d;
}

.intestation .do_subtitle {
  color: #1470f9;
}
/* fine intestation */

.do_form {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.btn_create:hover {
  background-color: white;
  color: #1470f9;
}
.btn_create {
  width: 100%;
    background-color: #1470f9;
    color: white;
    margin-bottom: 10px;
}
.btn_signup a:hover {
  text-decoration: none;
}
.btn_signup {
  width: 100%;
  background-color: white;
  color: gray;
  box-shadow: 1px 1px 2px 0px #888888;
  padding: 6px 0;
  font-weight: bold;
}
.btn_signup img {
  width: 15px;
}

.terms_service a,
.terms_service p {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
/* Media Query */
@media screen and (max-width: 991px) {
  .do_form {
    margin-top: 20px;
 }
}
/* Fine Media Query */
/* Fine Form */
/* Fine Jumbotron */

/* Sponsor */
.sponsor_title {
  color: #6f7b97;
  /* text-transform: uppercase; */
}
.sponsor-brand {
  line-height: 125px;
  display: inline-block;
}
.sponsor-brand img{
  width: 100%;
}
/* Media Query */
@media screen and (max-width: 991px) {
  .sponsor-brand {
    max-width: 55%;
  }
}
/* Fine Media Query */
/* Fine Sponsor */

/* Know How */
.ww-coverage h2 {
  color: white;
  text-align: center;
}
.do_menu_knowhow {
  margin-bottom: 30px;
}
.do_menu_knowhow li {
  padding: 10px 10px;
  border-left: 1px solid gray;
}
/* Media Query */
@media screen and (max-width: 768px) {
  .knowhow > .do_wrap_65 {
    width: 100%;
    margin: 0 auto;
  }
}
/* Fine Media Query */
/* Fine Know How */

/* Workflow */
.do_carousel img {
  max-width: 80%;
  padding: 0 20px;
}
.do_carousel i {
  font-size: 35px;
}
/* Media Query */
@media screen and (max-width: 768px) {
  .do_carousel i {
    display: none;
  }
}
/* Fine Media Query */
/* Fine Workflow */

/* WW Coverage */
.ww-coverage {
  background-image: linear-gradient( 180deg, #0047c5, #00229d, #00229d);
}
.do_table {
  color: white;
}
.do_table li {
  border-bottom: 1px solid white;
  padding: 20px 0;
}
.do_table li:last-child {
  border-bottom: 0;
}
.no_grid {
  padding-right: 0;
  padding-left: 0;
}
.no_grid_left {
  padding-right: 0;
  padding-left: 15px;
}
/* Fine Media Query */
/* Fine WW Coverage */
/* FINE MAIN */
