/* Generali */
body {
  background-color: red;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.do_list_no_margin {
  margin: 0;
}

/* HEADER */
header .primary_nav {
  background-color: white;

}
header .primary_nav .do_logo {
  line-height: 80px;
}
header .do_menu li {
  line-height: 80px;
}
header .do_menu a {
  color: #031c4d;
  text-decoration: none;
}
/* Burger toggle */
header .do_burger_menu {
  line-height: 80px;
}
header .do_burger_menu i {
  font-size: 20px;
  margin: 0 10px;
  color: #031c4d;
}


/* FINE HEADER */

/* MAIN */
/* Jumbotron */
main .jumbotron {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
/* Teaser */
/* Teaser */
/* Jumbotron */
/* FINE MAIN */
